body{
    background: url('img/pattern.jpg');
}

header{
    background-color:aliceblue;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.content{
    margin: auto;
    width: 60%;
    margin-top: 100px;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 100px;
}

header ul li{
    display: inline;
    padding: 8px;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article{
    border-bottom: solid 1px;
    padding: 20px;
}

footer{
    color:white;
    background-color: black;
    text-align: center;
    padding: 5px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}